In [1]:
import pandas as pd
import numpy as np

DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False, dropna=True)

In [2]:
df = pd.DataFrame({'num_legs': [2, 4, 4, 6],'num_wings': [2, 0, 0, 0]},index=['falcon', 'dog', 'cat', 'ant'])
df.value_counts()

num_legs  num_wings
4         0            2
2         2            1
6         0            1
Name: count, dtype: int64

In [3]:
df.value_counts(sort=False)

num_legs  num_wings
2         2            1
4         0            2
6         0            1
Name: count, dtype: int64

In [4]:
df.value_counts(ascending=True)

num_legs  num_wings
2         2            1
6         0            1
4         0            2
Name: count, dtype: int64

In [5]:
df.value_counts(normalize=True)

num_legs  num_wings
4         0            0.50
2         2            0.25
6         0            0.25
Name: proportion, dtype: float64

In [6]:
df = pd.DataFrame({'first_name': ['John', 'Anne', 'John', 'Beth'],'middle_name': ['Smith', pd.NA, pd.NA, 'Louise']})
df.value_counts()

first_name  middle_name
Beth        Louise         1
John        Smith          1
Name: count, dtype: int64

In [7]:
df.value_counts(dropna=False)

first_name  middle_name
Anne        NaN            1
Beth        Louise         1
John        Smith          1
            NaN            1
Name: count, dtype: int64

In [8]:
df.value_counts("first_name")

first_name
John    2
Anne    1
Beth    1
Name: count, dtype: int64

DataFrame.shape

In [9]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4],'col3': [5, 6]})
df.shape

(2, 3)

DataFrame.nunique(axis=0, dropna=True)

In [10]:
df = pd.DataFrame({'A': [4, 5, 6], 'B': [4, 1, 1]})
df.nunique()

A    3
B    2
dtype: int64

In [11]:
df.nunique(axis=1)

0    1
1    2
2    2
dtype: int64

DataFrame.describe(percentiles=None, include=None, exclude=None)

In [12]:
s = pd.Series([1, 2, 3])
s.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

In [13]:
s = pd.Series(['a', 'a', 'b', 'c'])
s.describe()

count     4
unique    3
top       a
freq      2
dtype: object

In [14]:
s = pd.Series([np.datetime64("2000-01-01"),np.datetime64("2010-01-01"),np.datetime64("2010-01-01")])
s.describe()

count                      3
mean     2006-09-01 08:00:00
min      2000-01-01 00:00:00
25%      2004-12-31 12:00:00
50%      2010-01-01 00:00:00
75%      2010-01-01 00:00:00
max      2010-01-01 00:00:00
dtype: object

In [15]:
df.describe(include='all')

         A         B
count  3.0  3.000000
mean   5.0  2.000000
std    1.0  1.732051
min    4.0  1.000000
25%    4.5  1.000000
50%    5.0  1.000000
75%    5.5  2.500000
max    6.0  4.000000

In [17]:
df.describe(include=[np.number])

         A         B
count  3.0  3.000000
mean   5.0  2.000000
std    1.0  1.732051
min    4.0  1.000000
25%    4.5  1.000000
50%    5.0  1.000000
75%    5.5  2.500000
max    6.0  4.000000

DataFrame.sum(axis=None, skipna=True, numeric_only=False, min_count=0, **kwargs)

In [25]:
idx = pd.MultiIndex.from_arrays([['warm', 'warm', 'cold', 'cold'],['dog', 'falcon', 'fish', 'spider']]
                                ,names=['blooded', 'animal'])
s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
s.sum()

14

In [26]:
pd.Series([], dtype="float64").sum()  # min_count=0 is the default

0.0

In [27]:
pd.Series([], dtype="float64").sum(min_count=1)

nan

In [28]:
pd.Series([np.nan]).sum()

0.0

In [29]:
pd.Series([np.nan]).sum(min_count=1)

nan

DataFrame.count(axis=0, numeric_only=False)

In [30]:
df = pd.DataFrame({"Person":["John", "Myla", "Lewis", "John", "Myla"],"Age": [24., np.nan, 21., 33, 26],
                   "Single": [False, True, True, True, False]})
df.count()

Person    5
Age       4
Single    5
dtype: int64

In [31]:
df.count(axis='columns')

0    3
1    2
2    3
3    3
4    3
dtype: int64

DataFrame.quantile(q=0.5, axis=0, numeric_only=False, interpolation='linear', method='single')

Return values at the given quantile over requested axis.

In [37]:
df = pd.DataFrame({"A":[1, 5, 3, 4, 2],
                   "B":[3, 2, 4, 3, 4],
                   "C":[2, 2, 7, 3, 4],
                   "D":[4, 3, 6, 12, 7]})
print(df)
df.quantile(.2, axis = 0)

   A  B  C   D
0  1  3  2   4
1  5  2  2   3
2  3  4  7   6
3  4  3  3  12
4  2  4  4   7

A    1.8
B    2.8
C    2.0
D    3.8
Name: 0.2, dtype: float64

In [39]:
df.quantile([.1, .25, .5, .75], axis = 0)

        A    B    C    D
0.10  1.4  2.4  2.0  3.4
0.25  2.0  3.0  2.0  4.0
0.50  3.0  3.0  3.0  6.0
0.75  4.0  4.0  4.0  7.0

DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)

In [40]:
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [41]:
df.apply(np.sum, axis=0)

A    12
B    27
dtype: int64

In [42]:
df.apply(np.sum, axis=1)

0    13
1    13
2    13
dtype: int64

In [43]:
df.apply(lambda x: [1, 2], axis=1)

0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

In [44]:
df.apply(lambda x: [1, 2], axis=1, result_type='expand')

   0  1
0  1  2
1  1  2
2  1  2

In [46]:
df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)

   foo  bar
0    1    2
1    1    2
2    1    2

In [47]:
df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')

   A  B
0  1  2
1  1  2
2  1  2

#### DataFrame.min(axis=0, skipna=True, numeric_only=False, **kwargs)
#### DataFrame.max(axis=0, skipna=True, numeric_only=False, **kwargs)
#### DataFrame.mean(axis=0, skipna=True, numeric_only=False, **kwargs)

In [53]:
idx = pd.MultiIndex.from_arrays([['warm', 'warm', 'cold', 'cold'],
                                 ['dog', 'falcon', 'fish', 'spider']],names=['blooded', 'animal'])
s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
print(s)
print(s.max())
s.min()

blooded  animal
warm     dog       4
         falcon    2
cold     fish      0
         spider    8
Name: legs, dtype: int64
8

0

#### DataFrame.var(axis=None, skipna=True, ddof=1, numeric_only=False, **kwargs)

In [60]:
df = pd.DataFrame({'person_id': [0, 1, 2, 3],'age': [21, 25, 62, 43],
                  'height': [1.61, 1.87, 1.49, 2.01]}).set_index('person_id')
print(df.var())
df.var(ddof=0)

age       352.916667
height      0.056367
dtype: float64

age       264.687500
height      0.042275
dtype: float64

#### DataFrame.std(axis=None, skipna=True, ddof=1, numeric_only=False, **kwargs)

In [61]:
print(df.std())
df.std(ddof=0)

age       18.786076
height     0.237417
dtype: float64

age       16.269219
height     0.205609
dtype: float64